.add-tax-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
}
.add-text-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.add-tax-form-container {
  width: fit-content;
  min-width: 890px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  padding: 20px;
  padding-bottom: 30px;
  flex-direction: column;
  overflow: hidden;
}

.add-tax-h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: start;
}
.add-tax-text-center {
  text-align: center;
}
.add-tax-gray {
  color: gray;
  opacity: 0.7;
}
.add-tax-input {
  height: 38px;
  border-radius: 4px;
  border: 1px solid rgb(136, 136, 136);
  padding-left: 10px;
  outline: unset;
  width: 378px;
}
.add-tax-input:hover {
  border: 1px solid rgb(136, 136, 136);
}
.add-tax-input:focus {
  border: 1px solid rgb(136, 136, 136);
}
.add-tax-top-form {
  display: flex;
  justify-content: space-between;
}
.add-tax-no-input {
  width: 78px;
  margin-left: 20px;
  padding-right: 15px;
}
.add-tax-dollar-icon {
  position: relative;
  left: -17px;
}
.add-tax-form-check-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 2em;
}
.add-tax-padding-top-2 {
  padding-top: 0.4em;
}

.add-tax-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 20px;
}
.add-tax-checkbox-checkbox:hover .add-tax-checkmark-checkbox {
  border: 3px solid rgb(63 155 183) !important;
}
.add-tax-checkbox-radio:hover .add-tax-checkmark-radio {
  border: 2px solid #f16d37 !important;
}
.add-tax-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.add-tax-checkbox input:checked ~ .add-tax-checkmark-radio {
  background-color: #f16d37;
}
.add-tax-checkbox input:checked ~ .add-tax-checkmark-radio:after {
  display: block;
}

.add-tax-checkbox input:checked ~ .add-tax-checkmark-checkbox {
  background-color: rgb(63 155 183);
}
.add-tax-checkbox input:checked ~ .add-tax-checkmark-checkbox:after {
  display: block;
}

.add-tax-checkbox .add-tax-checkmark-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #f16d37;
  border-radius: 50% !important;
}
.add-tax-checkbox .add-tax-checkmark-checkbox {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  border: 2px solid rgb(63 155 183);
  border-radius: 4px;
}
.add-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
}
.add-tax-checkbox .add-tax-checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: 1px solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.add-tax-checkbox .add-tax-checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: 1px solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.add-tax-input-search-input {
  width: 288px;
  padding-left: 25px;
}
.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.search-checkbox-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding-left: 30px;
  width: 100%;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.search-header {
  background-color: #e5e7eb;
  width: 890px;
  height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  padding: 10px;
}
.margin-top {
  margin-top: 20px;
}
.submit-btn-container {
  display: flex;
  align-items: end;
  justify-content: end;
}
.submit-btn {
  background: #f16d37;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 15px;
  color: white;
  width: 203px;
}
.add-tax-input-invalid {
  border: 1px solid #f16d37;
}
.bi-search {
  position: relative;
  top: 12px;
  left: 21px;
  font-size: 14px;
}
.d-flex {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .add-tax-container {
    padding: 7px;
  }
  .add-tax-form-container {
    min-width: 100%;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }
  .add-tax-input {
    width: 97%;
  }
  .add-tax-no-input {
    width: 20%;
  }
}
